# Service Account de Google Cloud (IAM > Service Accounts > Keys > JSON)
GOOGLE_SERVICE_ACCOUNT_EMAIL=mi-cuenta@proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTU_CLAVE_ACA\n-----END PRIVATE KEY-----\n"

# IDs de las planillas (la parte larga de la URL después de /d/)
SPREADSHEET_CLIENTES_ID=1CSHsgW9evTnPltELKmBfVUZq1vfzDaOzwUNu-cHOuQ8
SPREADSHEET_EGRESOS_ID=1WUL62N04CbgqXeG3WsUlJxVFm8KUAdSuYdwq59LsGAY
