# URLs de los Web Apps de Google Apps Script
# Cómo obtenerlas: abrís la planilla > Extensiones > Apps Script > Implementar > Nueva implementación
APPS_SCRIPT_CLIENTES_URL=https://script.google.com/macros/s/TU_ID_CLIENTES/exec
APPS_SCRIPT_EGRESOS_URL=https://script.google.com/macros/s/TU_ID_EGRESOS/exec
